*, *::before, *::after {
Box-sizing: border box;
}

body {
    font-family: sans-serif;
    margin: 0;
    background-color: white;
}

/* NAV */
nav ul {
    display: flex; /* or inline-flex */
    justify-content: space-around;
    background-color: #4479AF;
    /*position: fixed;*/
    color: white;
    list-style: none;
    margin: 0em;
    padding: 0;
    align-items: center;
}
nav ul li {
    text-align: center;
    margin: .25em .5em;
}
nav ul li a{
    color: rgba(255,255,255,1);
    text-decoration: none;
    font-weight: bold;
}

/* HEADER MET TITEL EN ACHTERGROND */
body > header {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    background: url('afbeeldingen/adult-audience-blur-976863.jpg');
    background-size:cover;
    background-position:center;
    height:50vh;
    text-align: left;
}
header section {
     display: block;
     flex-wrap: wrap;
}
header h1 {
    font-size: 4em;
    color: white;
    margin:1rem;
}
header h2 {
    font-size: 3em;
    color: white;
    margin:1rem;
}
header h3 {
    font-size: 2em;
    color: white;
    margin: 1rem;
}

/* MAIN HEADER - titel en tekst van evenement */
main {
    margin: 1.5em;
}

h4 {
    font-size: 1.5em;
}

main header {
    color: darkgrey;
    margin-bottom: 2em;
}

btn {
    background-color: #4479AF;
    padding: 1em;
}

btn:hover {
    background-color: #36526e
}

btn a {
    text-decoration: none;
    color: white;
}

/* MAIN VRIENDENLIJST */
article.vrienden h5{
    color: darkgrey;
    font-size: 1.3em;
}

.vriendenlijst {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.vriendenlijst article {
    color: darkgrey;
    text-align: center;
}


/*Bron voor clip-path: https://developer.mozilla.org/en-US/docs/Web/SVG/Element/clipPath
                       https://bennettfeely.com/clippy/*/

.vriendenlijst article img{
    width: 9em;
    clip-path: circle(65px);
}

/* SCHEMA */
article.schema h5 {
    color: darkgrey;
    font-size: 1.3em;
    margin-bottom: 0.3em;
}

table {
    color: darkgrey;
}

table th {
    text-align: left;
    font-size: 1em;
}

/* FOOTER */
footer {
    display: grid;
    grid-template-columns: 1fr;
    background-image: url(afbeeldingen/Footerimg.png);
    margin-bottom: 0;
    background-size: cover;
}

h6 {
    color: white;
    font-size: 2em;
    margin-top: 0.5em;
    margin-bottom: 0;
}

footer header {
    display: grid;
    text-align: center;
    
}

footer p{
    color: white;
    margin: 1.5em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    font-size: 1em;
}
footer section p {
    color: white;
    font-size: 2em;
}

/* FORMULIER */
footer form p {
    margin: 0em 0em 0.5em 0em;
    text-align: center;
}
footer form {
    display: grid;
    margin: 1em 5em 1em 5em;
    color: white;
}

/* BUTTON */
footer btn {
    background-color: #4479AF;
    padding: 1em;
    margin: 1.2em;
    text-align: center;
    max-width: 10em;
}
footer btn a {
    text-decoration: none;
    color: white;
}

footer btn:hover {
    background-color: #36526e
}






